
#blobby-20080708 {
    width:100px;
    height:50px;

    position: absolute;
    top:100px;
    right: 100px;
    z-index:999999;
  border-color: white;
  border-width: 20px;
       box-shadow:
        0 0 0 5px black,
        0 0 0 10px white;
        overflow: hidden;
          max-width: none;
  max-height: none;
}




#video-20080708{
   user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   pointer-events: none; 
    max-width: none;
  max-height: none;

  width: auto;
}