
#blobby-20080708 {
    width:100px;
    height:50px;

    position: absolute;
    top:100px;
    right: 100px;
    z-index:999999;
  backdrop-filter: saturate(100%)  url(#fakeScale)  ;
  filter:saturate(120%) url(#fakeScale);
  border-color: white;
  border-width: 20px;
       box-shadow:
        0 0 0 5px black,
        0 0 0 10px white;
}

